<div class="container mt-5">
  <div class="alert alert-success">
    <h4>Success!</h4>
    <p>Your record was successfully created.</p>
    <%= link_to "Back to Records", records_path, class: "btn btn-primary" %>
  </div>
</div>
